<!--
  Generated template for the HomeAdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title color="boa">สำหรับผู้ดูแลระบบ</ion-title>
    <!-- <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button> -->
  </ion-navbar>

</ion-header>


  <ion-content>

<br />

    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>


    
<p *ngFor="let detail of DetailList$ | async" detail-push navPush="OrderListDetailPage" [navParams]="{detail: detail}">
    <ion-card color={{detail.color}}>
      <ion-grid>
        <ion-row>
          <ion-item >
            <ion-label position="stacked"> 
              ชื่อลูกค้า : 
            </ion-label>
            <ion-input readonly value="{{detail.name}}"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item >
            <ion-label  positon="stacked"> 
                สถานะ
            </ion-label >
            <ion-input  readonly name="status" value="{{detail.status}}"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item >
            <ion-label positon="stacked"> 
                วันที่
            </ion-label>
            <ion-input readonly  value="{{detail.date}}"></ion-input>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-card>
</p>
  </ion-content>
