<!--
  Generated template for the MenuListEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="boa">
        <ion-title>{{food?.FOOD_NAME}}</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
  </ion-navbar>

</ion-header>

<ion-content padding>


    <ion-grid>
        <ion-row>
    
            <ion-col>
    
            </ion-col>
    
          <ion-col col-auto>

    <ion-card color="primary"> 
      <ion-item>
          <img src="https://firebasestorage.googleapis.com/v0/b/test-98b25.appspot.com/o/images%2F{{food.FOOD_IMG}}.jpg?alt=media&token=f20a56f1-6ecd-4244-bec2-5344d235038b">
      </ion-item>
      <ion-item >
        <ion-label>เมนู</ion-label>
        <ion-input [(ngModel)]="food.FOOD_NAME"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>ประเภทอาหาร</ion-label> 
          <ion-select [(ngModel)]="food.FOOD_TYPE_NAME"  >
            <ion-option *ngFor="let food of TypeList$ | async" [value]="food.FOOD_TYPE_NAME">{{food.FOOD_TYPE_NAME}}</ion-option>
          </ion-select>
        </ion-item>

      <ion-item >
        <ion-label>ราคา</ion-label>
        <ion-select [(ngModel)]="food.FOOD_PRICE"  >
           <ion-option >1</ion-option>
           <ion-option >2</ion-option>
           <ion-option >3 </ion-option>
           <ion-option >4</ion-option>
           <ion-option >5</ion-option>
           <ion-option >6</ion-option>
           <ion-option >7</ion-option>
           <ion-option >8</ion-option>
           <ion-option >9</ion-option>
           <ion-option selected="true">10</ion-option>
           <ion-option >10</ion-option>
           <ion-option >11</ion-option>
           <ion-option >12</ion-option>
           <ion-option >13</ion-option>
           <ion-option >14</ion-option>
           <ion-option >15</ion-option>
           <ion-option >16</ion-option>
           <ion-option >17</ion-option>
           <ion-option >18</ion-option>
           <ion-option >19</ion-option>
           <ion-option >20</ion-option>
           <ion-option >21</ion-option>
           <ion-option >22</ion-option>
           <ion-option >23</ion-option>
           <ion-option >24</ion-option>
           <ion-option >25</ion-option>
           <ion-option >26</ion-option>
           <ion-option >27</ion-option>
           <ion-option >28</ion-option>
           <ion-option >29</ion-option>
           <ion-option >30</ion-option>
           <ion-option >31</ion-option>
           <ion-option >32</ion-option>
           <ion-option >33</ion-option>
           <ion-option >34</ion-option>
           <ion-option >35</ion-option>
           <ion-option >36</ion-option>
           <ion-option >37</ion-option>
           <ion-option >38</ion-option>
           <ion-option >39</ion-option>
           <ion-option >40</ion-option>
           <ion-option >41</ion-option>
           <ion-option >42</ion-option>
           <ion-option >43</ion-option>
           <ion-option >44</ion-option>
           <ion-option >45</ion-option>
           <ion-option >46</ion-option>
           <ion-option >47</ion-option>
           <ion-option >48</ion-option>
           <ion-option >49</ion-option>
           <ion-option >50</ion-option>
           <ion-option >51</ion-option>
           <ion-option >52</ion-option>
           <ion-option >53</ion-option>
           <ion-option >54</ion-option>
           <ion-option >55</ion-option>
           <ion-option >56</ion-option>
           <ion-option >57</ion-option>
           <ion-option >58</ion-option>
           <ion-option >59</ion-option>
           <ion-option >60</ion-option>
           <ion-option >61</ion-option>
           <ion-option >62</ion-option>
           <ion-option >63</ion-option>
           <ion-option >64</ion-option>
           <ion-option >65</ion-option>
           <ion-option >66</ion-option>
           <ion-option >67</ion-option>
           <ion-option >68</ion-option>
           <ion-option >69</ion-option>
           <ion-option >70</ion-option>
           <ion-option >71</ion-option>
           <ion-option >72</ion-option>
           <ion-option >73</ion-option>
           <ion-option >74</ion-option>
           <ion-option >75</ion-option>
           <ion-option >76</ion-option>
           <ion-option >77</ion-option>
           <ion-option >78</ion-option>
           <ion-option >79</ion-option>
           <ion-option >80</ion-option>
           <ion-option >81</ion-option>
           <ion-option >82</ion-option>
           <ion-option >83</ion-option>
           <ion-option >84</ion-option>
           <ion-option >85</ion-option>
           <ion-option >86</ion-option>
           <ion-option >87</ion-option>
           <ion-option >88</ion-option>
           <ion-option >89</ion-option>
           <ion-option >90</ion-option>
           <ion-option >91</ion-option>
           <ion-option >92</ion-option>
           <ion-option >93</ion-option>
           <ion-option >94</ion-option>
           <ion-option >95</ion-option>
           <ion-option >96</ion-option>
           <ion-option >97</ion-option>
           <ion-option >99</ion-option>
           <ion-option >99</ion-option>
           <ion-option >100</ion-option>


         </ion-select>
       </ion-item>


      <!--


      <ion-item color="energy">
        <ion-label>จำนวน</ion-label>
      <ion-input [(ngModel)]="detail.DETAIL_AMOUT"></ion-input>
      </ion-item>
      
      <button ion-button block (click)=" addDetailItem(detail)">สั่งเมนูนี้</button>

          -->
      </ion-card>

      
      <button ion-button block full round large (click)=save(food) >ยืนยันการแก้ไข</button>
      <!-- <button ion-button block full round large color="danger" (click)=removeItem(food) >ลบ</button>
 -->

      <!--


      <ion-item color="energy">
        <ion-label>จำนวน</ion-label>
      <ion-input [(ngModel)]="detail.DETAIL_AMOUT"></ion-input>
      </ion-item>
      
      <button ion-button block (click)=" addDetailItem(detail)">สั่งเมนูนี้</button>

          -->


    <div style="display:flex; flex-direction:column;justify-content:center">
      <button ion-button color="secondary" type="button" full round large (click)="selectPhoto()">
        <ion-icon name="md-image"></ion-icon>
      </button>
      <img [src]="captureDataUrl"  *ngIf="captureDataUrl"/>
      <button ion-button block full round large (click)=saveDataImg(food) *ngIf="captureDataUrl">เพิ่มรูปพร้อมยืนยันการแก้ไข</button>
    </div>


 
  </ion-col>
     
  <ion-col>
    
  </ion-col>

</ion-row>
</ion-grid>
  

  </ion-content>
  