<ion-header>

  <ion-navbar color="boa">
    <ion-title>ราดแกงลุงหนวด</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding align="center">
  <ion-grid>
    <ion-row>

        <ion-col>

        </ion-col>

      <ion-col col-auto>
        <!--
 <ion-card color="bg">
            <br/>
  <p> </p>
  <h1 align="center"> ราดแกงลุงหนวด </h1>
  <br/>
  </ion-card>
        -->
       
  <ion-card color="bg">
<p align="center">
  <img src="assets/imgs/001.jpg" />
</p>
</ion-card>
  <ion-grid>
      <ion-row>
        <ion-col>
          <h1></h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid >
      <ion-row>
        <ion-col center text-center>
          
  <ion-list>

      <ion-item>
        <ion-label fixed>ชื่อผู้ใช้</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email"  required="required" placeholder="admin@admin.com"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label fixed>รหัสผ่าน</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required="required"placeholder="000000"></ion-input>
      </ion-item>
    <p>
        <a (click)="signup()">หากยังไม่มีบัญชี สร้างบัญชี</a>
    </p>
    
    </ion-list>
    
      <button ion-button full color="energy" *ngIf="email && password "  (click)="login()">เข้าสู่ระบบ</button>
     <!-- Show dead button if form is not filled -->
     <button ion-button full color="energy"  *ngIf="!email || !password" (click)="loginf()">เข้าสู่ระบบ</button>
     

     
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col center text-center>
              <br/>

            <button ion-button full color="danger" (click)="loginAdmin()">เฉพาะผู้ดูแล</button>
          </ion-col>
        </ion-row>
    </ion-grid>

      </ion-col> 
     
      <ion-col>
        
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
